.fwselect,
.fwselect-menu,
.fwselect-menu ul li a.fwselect-menu-listitem-focus,
.fwselect-menu ul li a.fwselect-menu-listitem:hover,
.fwselect-menu-open {
	behavior:url(/flyweight-jquery-custom-select/assets/css/PIE.htc);	
	-pie-background: linear-gradient(#ffffff, #E0E0E0);
}

.fwselect-focus,
.fwselect-hover,
.fwselect:hover {
	-pie-background: linear-gradient(#FFB566, #FF8B17);
}

.fwselect-disabled,
.fwselect-disabled:hover {
	border:2px solid #E0E0E0;
	-pie-background: linear-gradient(#ffffff, #F0F0F0);	
}

.fwselect-disabled .fwselect-text,
.fwselect-disabled:hover .fwselect-text {
	color:#a0a0a0;
}

.fwselect-arrow {
	margin:10px 5px 0 0;
	padding:3px 10px 0 0;
	width:0;
	height:0;
	border:0;
	line-height:0;
	font-size:0;
	background:transparent url(/flyweight-jquery-custom-select/assets/img/flyweight-custom-select-ie-sprite.png) scroll no-repeat 0 0;
}

.fwselect-focus .fwselect-arrow,
.fwselect-hover .fwselect-arrow,
.fwselect:hover .fwselect-arrow {
	background:transparent url(/flyweight-jquery-custom-select/assets/img/flyweight-custom-select-ie-sprite.png) scroll no-repeat 0 -50px;
}

.fwselect-disabled .fwselect-arrow,
.fwselect-disabled:hover .fwselect-arrow {
	background:transparent url(/flyweight-jquery-custom-select/assets/img/flyweight-custom-select-ie-sprite.png) scroll no-repeat 0 -100px;
}

.fwselect-menu ul li a.fwselect-menu-listitem {
	width:185px;
}
