.fwselect,
.fwselect-menu,
.fwselect-menu a.fwselect-menu-listitem,
.fwselect-menu a.fwselect-menu-listitem-focus,
.fwselect-menu a.fwselect-menu-listitem:hover,
.fwselect-menu-open {
	behavior:url(/assets/css/PIE.htc);
}

.fwselect {
	position:relative;
	display:block;
	height:1%;
	zoom:1;
	-pie-background: linear-gradient(#ffffff, #E0E0E0);
}

.fwselect-focus,
.fwselect-hover,
.fwselect:hover,
.fwselect-menu a.fwselect-menu-listitem-focus,
.fwselect-menu a.fwselect-menu-listitem:hover {
	-pie-background: linear-gradient(#FFB566, #FF8B17);
}

.fwselect-disabled,
.fwselect-disabled:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	border:2px solid #E0E0E0;
}

.fwselect-disabled .fwselect-text,
.fwselect-disabled:hover .fwselect-text {
	color:#a0a0a0;
}

.fwselect-arrow {
	margin:10px 5px 0 0;
	padding:3px 10px 0 0;
	width:0;
	height:0;
	border:0;
	line-height:0;
	font-size:0;
	background:transparent url(../img/flyweight-custom-select-ie-sprite.png) scroll no-repeat 0 0;
}

.fwselect-focus .fwselect-arrow,
.fwselect-hover .fwselect-arrow,
.fwselect:hover .fwselect-arrow {
	background:transparent url(../img/flyweight-custom-select-ie-sprite.png) scroll no-repeat 0 -50px;
}

.fwselect-disabled .fwselect-arrow,
.fwselect-disabled:hover .fwselect-arrow {
	background:transparent url(../img/flyweight-custom-select-ie-sprite.png) scroll no-repeat 0 -100px;
}	

.fwselect-menu a.fwselect-menu-listitem {
	width:185px;
}
