.jquery-flyweight-select {
	-pie-background: linear-gradient(#ffffff, #E0E0E0);
	behavior:url(/assets/css/PIE.htc);
}

.jquery-flyweight-select-open {
	-pie-background: linear-gradient(#ffffff, #E0E0E0);
	behavior:url(/assets/css/PIE.htc);
}

.jquery-flyweight-select-focus,
.jquery-flyweight-select-hover,
.jquery-flyweight-select:hover {
	-pie-background: linear-gradient(#FFB566, #FF8B17);
	behavior:url(/assets/css/PIE.htc);	
}

.jquery-flyweight-select-disabled,
.jquery-flyweight-select-disabled:hover {
	border:2px solid #E0E0E0;
	-pie-background: linear-gradient(#ffffff, #F0F0F0);	
}

.jquery-flyweight-select-disabled .jquery-flyweight-select-text,
.jquery-flyweight-select-disabled:hover .jquery-flyweight-select-text {
	color:#a0a0a0;
}

.jquery-flyweight-select-arrow {
	margin:10px 5px 0 0;
	padding:5px 10px 0 0;
	width:0;
	height:0;
	border:0;
	line-height:0;
	font-size:0;
	background:transparent url(/assets/img/flyweight-custom-select-ie-sprite.png) scroll no-repeat 0 0;
}

.jquery-flyweight-select-focus .jquery-flyweight-select-arrow,
.jquery-flyweight-select-hover .jquery-flyweight-select-arrow,
.jquery-flyweight-select:hover .jquery-flyweight-select-arrow {
	background:transparent url(/assets/img/flyweight-custom-select-ie-sprite.png) scroll no-repeat 0 -50px;
}

.jquery-flyweight-select-disabled .jquery-flyweight-select-arrow,
.jquery-flyweight-select-disabled:hover .jquery-flyweight-select-arrow {
	background:transparent url(/assets/img/flyweight-custom-select-ie-sprite.png) scroll no-repeat 0 -100px;
}

.jquery-flyweight-selectmenu {
	-pie-background: linear-gradient(#FFFFFF, #E0E0E0);
	behavior:url(/assets/css/PIE.htc);
}

.jquery-flyweight-selectmenu-open {
	behavior:url(/assets/css/PIE.htc);
}

.jquery-flyweight-selectmenu ul li a.jquery-flyweight-selectmenu-listitem {
	width:185px;
}

.jquery-flyweight-selectmenu ul li a.jquery-flyweight-selectmenu-listitem-focus,
.jquery-flyweight-selectmenu ul li a.jquery-flyweight-selectmenu-listitem:hover {
	/*-pie-background: linear-gradient(#FFB566, #FF8B17);
	behavior:url(/assets/css/PIE.htc);*/
}